<%= form_with(model: [@hotel, @review], local: true) do |form| %>

  <div class="field">
    <%= form.label :rank %>
    <%= form.text_field :rank %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit%>
  </div>
<% end %>
<div>
<%= link_to 'ホテル詳細', hotel_path(@hotel) %>
</div>
